{% extends "base.html" %}

{% block title %}
	RegisterAdmin - GLYSHOP
{% endblock %}

{% block content %}
	<h3 class="text-center"> Register admin to GLYSHOP </h3>
	<hr>
	{% with msgs =  get_flashed_messages(with_categories=True) %}
		{% for c, msg in msgs %}
			{% if c == 'error' %}
				<div class="flash-error">
			{% else %}
				<div class="success">
			{% endif %}
				{{ msg | safe }}</div><br>
		{% endfor %}
	{% endwith %}
	<div class="forms">
		{{ wtf.quick_form(form) }}
	</div>
{% endblock %}